@model List<StopDataModel>
@{
    ViewData["Title"] = "Default";
    DateTime currentDate = DateTime.Now;
}

@if (Model.Count() != 0)
{
    <div class="text-center favouritesSectionSplit">
        Priljubljene:
    </div>

    <div>
        @foreach (var item in Model)
        {
            @if (item != null)
            {
                <div class="flex-container flexContainerNoMargin">
                    <a class="btn btn-default btn-block departureDataContainer"
                       href="@Url.Action("Timetable", "Stops", new { stopName = item.StopName, routeShortName = item.TripShortName, directionId = item.DirectionID, date = currentDate.Year+"-"+currentDate.Month.ToString("d2")+"-"+currentDate.Day.ToString("d2") })">
                        <div class="lineNumberContainer pull-left text-center" style="background-color: @item.HTMLColor;">
                            <span class="tripShortName">@item.RouteShortName</span>
                        </div>
                        <div class="departureTime">
                            @{
                                IEnumerable<string> departureTimes = item.DepartureTimes.Where(x => (currentDate.Hour <= Convert.ToInt32(x.Substring(0, 2)) && currentDate.Minute <= Convert.ToInt32(x.Substring(3, 2))) || (currentDate.Hour < Convert.ToInt32(x.Substring(0, 2)))).Take(5);
                                if (departureTimes.Count() == 0)
                                {
                                    <span class="textBlack">Od trenutne ure naprej ne vozi več!</span>
                                }
                                else
                                {

                                    @foreach (string departureTime in departureTimes)
                                    {
                                        <span>@departureTime</span>
                                    }
                                }
                            }
                            <div>
                                <span class="textBlack">@item.StopName</span>
                                @if (item.DirectionID == 0)
                                {
                                    <img class="favouritesArrowImage" src="~/images/awayFromCity.svg" />
                                }
                                else
                                {
                                    <img class="favouritesArrowImage" src="~/images/toCity.svg" />
                                }
                            </div>
                        </div>                        
                    </a>
                    <div onclick="RemoveFavourite(this, '@item.StopName', '@item.TripShortName', '@item.DirectionID')" class="btn btn-default addToFavouritesButtonIndex">
                        <img class="favouritesStarImageIndex" src="~/images/starRed.svg" />
                    </div>
                </div>
            }
        }
    </div>
}
