@model StopTimetable
@{
    ViewData["Title"] = "Index";
    DateTime time = DateTime.Now;
}

<div class="text-center">
    <h2>Odhodi linij iz postaje @Model.StopName:</h2>
</div>

<div class="text-center">
    <div class="btn btn-default"
       onclick="navigateWithDate('@Url.Action("Index","Stops", new { stopName = Model.StopName, directionId = Model.DirectionId == 1 ? 0 : 1})')">
        @if (Model.DirectionId == 1)
        {
            <img class="directionArrowImage" src="~/images/awayFromCity.svg" />
        }
        else
        {
            <img class="directionArrowImage" src="~/images/toCity.svg" />
        }
    </div>
</div>

<input id="timetableDate" 
       type="date" 
       name="timetableDate" 
       onchange="navigateWithDate('@Url.Action("Index","Stops", new { stopName = Model.StopName, directionId = Model.DirectionId})')" 
       value="@(Model.RequestedDate.Year+"-"+Model.RequestedDate.Month.ToString("d2")+"-"+Model.RequestedDate.Day.ToString("d2"))"/>

<div>
    @foreach (var item in Model.StopTimetables)
    {
        @if (item != null)
        {
            <div class="flex-container">
                <div class="btn btn-default btn-block departureDataContainer" onclick="navigateWithDate('@Url.Action("Timetable", "Stops", new { stopName = item.StopName, routeShortName = item.TripShortName, directionId = item.DirectionID })')">
                    <div class="lineNumberContainer pull-left text-center" style="background-color: @item.HTMLColor;">
                        <span class="tripShortName">@item.TripShortName</span>
                    </div>

                    @{
                        IEnumerable<string> departureTimes = item.DepartureTimes.Where(x => (time.Hour <= Convert.ToInt32(x.Substring(0, 2)) && time.Minute <= Convert.ToInt32(x.Substring(3, 2))) || (time.Hour < Convert.ToInt32(x.Substring(0, 2)))).Take(10);
                        if (departureTimes.Count() == 0)
                        {
                    <span>Od trenutne ure naprej ne vozi vec!</span>
                        }
                        else
                        {
                            <div class="departureTime">
                                @foreach (string departureTime in departureTimes)
                                {
                                    <span>@departureTime</span>
                                }
                            </div>

                        }
                    }
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div onclick="ChangeFavourite(this, '@item.StopName', '@item.TripShortName', '@item.DirectionID')" class="btn btn-default addToFavouritesButton">
                        @if (item.isFavourite)
                        {
                            <img class="favouritesStarImage" src="~/images/starRed.svg" />
                        }
                        else
                        {
                            <img class="favouritesStarImage" src="~/images/starGray.svg" />
                        }
                    </div>
                }
            </div>
        }
    }
</div>