@model List<StopDataModel>
@{
    ViewData["Title"] = "StopDataForRoute";
}
@{DateTime time = DateTime.Now;}

<div class="text-center">
    <h2>Linijski vozni red za postajo @ViewData["StopName"]:</h2>
</div>

<div>
    @foreach (var item in Model)
    {
        @if (item != null)
        {
            <div class="btn btn-default btn-block">
                <div class="lineNumberContainer">
                    <span>@item.TripShortName</span>
                </div>
                <div class="lineDataContainer">
                    <div>
                        @item.TripHeadsign
                    </div>
                    <div>
                        Smer voznje: @item.DirectionID
                    </div>
                    <div class="departureTime">
                        @foreach (string departureTime in item.DepartureTimes@*.Where(x => (time.Hour < Convert.ToInt32(x.Substring(0, 2)) && time.Minute < Convert.ToInt32(x.Substring(3, 2))) || (x.Length >= 6 && x.Substring(6, 2) == "+1"))*@)
{
<span>@departureTime</span>
}
                    </div>
                </div>
            </div>
        }

    }
</div>