@model StopTimetable
@{
    ViewData["Title"] = "Timetable";
    string tempTime = "0";
}

<div class="text-center">
    <h1>Linijski vozni red za postajo @Model.StopName:</h1>
</div>

<div id="map"></div>

<input id="timetableDate"
       onchange="navigateWithDate('@Url.Action("Timetable", "Stops", new { stopName = Model.StopName, routeShortName = Model.RouteShortName, directionId = Model.DirectionId })')"
       type="date"
       name="timetableDate"
       value="@(Model.RequestedDate.Year+"-"+Model.RequestedDate.Month.ToString("d2")+"-"+Model.RequestedDate.Day.ToString("d2"))">

<div class="text-center">
    @foreach (var item in Model.StopTimetables)
    {
        @if (item != null)
        {
            tempTime = item.DepartureTimes.First().Substring(0, 2);
            <h2>
                @item.TripShortName
                @item.TripHeadsign
            </h2>
            <div>
                @foreach (string departureTime in item.DepartureTimes)
                {
                    if (departureTime.Substring(0, 2) != tempTime)
                    {
                        <br />
                        tempTime = departureTime.Substring(0, 2);
                    }
                    <span>@departureTime</span>
                }
            </div>
        }
        else
        {
            <h2>NE VOZI NA TA DAN</h2>
        }
    }
</div>

<script>
    stopsArray = @Html.Raw(Json.Serialize(Model.RouteStopLocations));
</script>

@section Scripts {
    @await Html.PartialAsync("_GoogleMapsScripts", Model.StopLocation)
}
